<form action="" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type='submit'>Salvar</button>
</form>

<hr/>

{% if sql_exec %}
    <h4>Total de linhas {{ sql_exec.0|length }}</h4>
    <br/>
    {% with sql_exec as exec_query %}
        <table>
          <thead>
            <tr>
              {% for header in exec_query.1 %}
              <th>
                {{ header.name }}
              </th>
              {% endfor %}
            </tr>
          </thead>

          <tbody>
            {% for row in exec_query.0 %}
              <tr>
              {% for column in row %}
                <td>{{ column }}</td>
              {% endfor %}
              </tr>
            {% endfor %}
          </tbody>

        </table>
    {% endwith %}
{% endif %}
