{% extends "base_black_template.html" %}
{% load bootstrap3 %}

{% block title %} Askari | Login {% endblock %}

{% block main_content %}

    <div class="form-box" id="login-box">
        <div class="header">Área Restrita</div>


        <form method="post" action="" class="login-form">
            <div class="body bg-gray">
                {% csrf_token %}
                {% bootstrap_form form %}
            </div>
            <div class="footer">
                {% buttons %}
                    <button type="submit" class="btn bg-olive btn-block">
                        {% bootstrap_icon "lock" %} Entrar
                    </button>
                {% endbuttons %}

                <p><a href="#">I forgot my password</a></p>

                <a href="register.html" class="text-center">Register a new membership</a>
            </div>
        </form>

        <div class="margin text-center">
            <span>Sign in using social networks</span>
            <br/>
            <button class="btn bg-light-blue btn-circle"><i class="fa fa-facebook"></i></button>
            <button class="btn bg-aqua btn-circle"><i class="fa fa-twitter"></i></button>
            <button class="btn bg-red btn-circle"><i class="fa fa-google-plus"></i></button>

        </div>
    </div>

    <!--
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">

                {% bootstrap_messages %}

                <form method="post" action="" class="login-form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            {% bootstrap_icon "lock" %} Entrar
                        </button>
                    {% endbuttons %}
                </form>

            </div>
        </div>
    </div>
    --!>

{% endblock %}
