{% extends "base_black_template.html" %}
{% load bootstrap3 %}

{% block title %} Askari | Login {% endblock %}

{% block main_content %}

    <div class="form-box" id="login-box">
        <div class="header">Área Restrita</div>


        <form method="post" action="" class="login-form" novalidate>
            <div class="body bg-gray">
                {% csrf_token %}
                {% bootstrap_form form %}
            </div>
            <div class="footer">
                {% buttons %}
                    <button type="submit" class="btn bg-olive btn-block">
                        {% bootstrap_icon "lock" %} Entrar
                    </button>
                {% endbuttons %}

                <a href="{% url 'login' %}" class="text-center">Já sou registrado</a>
            </div>
        </form>

        <div class="margin text-center">
            <span>Sign in using social networks</span>
            <br/>
            <button class="btn bg-light-blue btn-circle"><i class="fa fa-facebook"></i></button>
            <button class="btn bg-aqua btn-circle"><i class="fa fa-twitter"></i></button>
            <button class="btn bg-red btn-circle"><i class="fa fa-google-plus"></i></button>

        </div>
    </div>
    
{% endblock %}
